<h1>Graffiti Art</h1>

<ul>
  <% @works.each do |work| %>
    <li><%= link_to work.artist, work_path(work) %> - <%= work.location %></li>
  <% end %>
</ul>

<hr>
<p><%= link_to "add art", new_work_path %></p>
